.rightdiving{
    display: inline-block;
    vertical-align: top;
}
.left-div{
    width: 370px;
    display: inline-block;
    vertical-align: top;
    background-color: #F8F8F8;
    height: 190px;
    margin-right: 20px;
}
.P{
    width: 200px;
    color: #B1B1B1;
    font-size: #B1B1B1;
    margin-left: 16px;
    margin-top: 10px;
    font-family: 'Hachi Maru Pop', cursive;
}
.subheadsub{
    margin-left: 16px;
    margin-top: 37px;
    color: #5863F8;
    font-size: 14px;
    font-family: 'Hachi Maru Pop', cursive;
}
.div-head{
    font-size: 18px;
    margin-left: 16px;
    color: #000000;
    font-family: 'Hachi Maru Pop', cursive;
}
.leftdiving{
    width: 370px;
    display: inline-block;
    vertical-align: top;
    background-color: #BE2B2B;
    height: 190px;
}
.headering{
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.headofsub{
    color: #5863F8;
    font-size: 14px;
    margin-top: 82px;
    font-family: "ALK Life", sans-serif;
}
.head{
    color: #000000;
    font-size: 42px;
    width: 390px;
    margin-bottom: 50px;
    font-family: "ALK Life", sans-serif;
}

/* section 2 styles */

.div2{
    width: 260px;
    display: inline-block;
}
.headofsub1{
    margin-top: 23px;
    text-align: center;
    color: #5863F8;
    font-size: 14px;
    font-family: 'ALK Life';
}
.sechead{
    text-align: center;
    color: #000000;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'ALK Life';
}
.sectionP{
    width: 260px;
    text-align: center;
    color: #B1B1B1;
    font-size: 14px;
    font-family: 'BPG Nino Elite Ultra';
}
.sectiondiving01{
    margin-left: 105px;
    width: 260px;
    display: inline-block;
}
.sectiondiving02{
    margin-left: 105px;
    width: 260px;
    display: inline-block;
}

